.App {
  text-align: center;
  margin: 10px;
}
.content{
  
  background-color: rgb(238, 116, 23);
  margin: 10px;
  

}
.header{
  background-color: aquamarine;
  margin: 10px;
  
}
body{
  background-color: black;
}
.post-box{
background-color: rgb(34, 7, 18);
color: aliceblue;
  padding: 10px;
  margin: 10px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
